
html, body {
    margin:0;
    overflow-x: hidden;
}
body{
    --text-color: #333;
    --bkg-color: #fff;
}
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
}
body {
    position: relative;
    font-family: 'Urbanist', sans-serif;
    color: var(--text-color);
    background: var(--bkg-color);
    transition: all 500ms;
    /* cursor: none; */
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}